.DS_Store
.vscode/*
.hugo_build.lock
content/post/fibonacci/rust_fib/target/**
content/post/fibonacci/go_fib/go_fib
content/post/fibonacci/rust_fib/Cargo.lock
content/post/fibonacci/rust_fib/Cargo.toml
